.jumbotron {
    color: red;
    background-position-y: 10%;
    color: red;
    background-color: black;
}
/* code not aligning counter center. made changes in html to look better */
/* .currentTime {
    color: red;
    align-content: center;
} */
div.panel-body {
    color: red;
}

.btn-primary {
    background-color: black;
    border-color: red;
    font-weight: bold;
}
